@import "progress-bar.css";

body {
  background: #000;
  max-width: 1260px;
  margin: auto;
  color: aliceblue;
}

.container,
.bg,
.torch-container {
  position: relative;
  width: 1260px;
  height: 860px;
}

.bg {
  background: url("../img/bg.png") no-repeat;
}

.torch-container {
  background: url("../img/torch.gif") no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title {
  background: url("../img/title.png") no-repeat;
  width: 537px;
  height: 155px;
  margin: auto;
}

.btn {
  margin: auto;
  transition: opacity 0.5s ease;
  opacity: 0.5;
  width: 464px;
  height: 77px;
}

.btn {
  background: url("../img/btn.png") no-repeat;
}

.btn.active {
  opacity: 1;
}

.btn.active:hover {
  opacity: 0.7;
  cursor: pointer;
}

.page,
.page-1,
.page-2 {
  position: relative;
  width: 1260px;
  height: 860px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: background-image 0.5s ease;
}

.page-1 {
  background: url("../img/page-1.jpg") no-repeat;
}

.page-2 {
  background: url("../img/page-2.jpg") no-repeat;
}

.nav-container {
  display: flex;
  padding: 0 20px 0 20px;
}

.prev,
.next {
  height: 79px;
  width: 80px;
}

.prev {
  background: url("../img/prev.png") no-repeat;
}

.next {
  margin-left: auto;
  background: url("../img/next.png") no-repeat;
}

.prev:hover,
.next:hover {
  cursor: pointer;
  transform: scale(0.99);
}
